.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom:20px;
    border-bottom: 1px solid #DDD;
}

.checkoutProduct__info{
    padding-left:20px;   
    width: 100%;
    margin-right: 20px;
}

.checkoutProduct__info button{
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border: 1px solid;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    line-height: 29px;
    width: 210px;
    padding: 0 10px 0 11px;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
    color: rgb(255,164,28);
}
.checkoutProduct__title{
    font-size: 15px;
    font-weight: 800;
    color: #007185;
}

.checkoutProduct__price{
    font-size: 18px;
}